#root {
 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
}

img {
  width: 40px;
  margin-right: 10px;

  margin-top: auto;
  margin-bottom: auto;
}

.read-the-docs {
  color: #888;
}

.header-new {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

.nwes-filter, .filters {
  display: flex;
}

.date {
  margin: auto;
  padding-left: 20px;
  
}

li {
  margin-left: 20px;
  padding: 0;
}

.news {
  text-align: left;
}

.currency {
  display: flex;
}

.card-title {
  display: flex;

}

.descList {
  text-align: start;
  margin: 0;
}

.textWithImg {
  color: black;
}

.adv {
  height: 50px;
  border: 3px solid black;
  background-image: url("https://ya.ru/images/search?pos=0&from=tabbar&img_url=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D10158393459633553&text=react+icon&rpt=simage&lr=14");
  background-repeat: no-repeat;
  background-size: contain;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
}

input {
  width: 100%;
}

.input-box {
  position: relative;
}

.logos {
  width: 40px;
  border: 2px solid black;

  position: absolute;
  left: -50px
}

.widgets {
  width: 700px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-view {
  margin: 10px;
}